cryptography==46.0.7
gradio==6.9.0
gradio_client==2.3.0
PySide6==6.11.0
PySide6_Addons==6.11.0
PySide6_Essentials==6.11.0
qasync==0.28.0
pyperclip==1.11.0
PySide6==6.11.0
PySide6_Addons==6.11.0
PySide6_Essentials==6.11.0
zeroconf==0.148.0